.layout {
	display: flex;
}

.layout_direction_horizontal {
	flex-direction: row;
}

.layout_direction_vertical {
	flex-direction: column;
}

.layout__item_autosize_yes {
	flex-grow: 1;
}

.layout__item {
	display: flex;
}

.layout_direction_horizontal .layout__item {
	flex-direction: column;
}

.layout_direction_vertical .layout__item {
	flex-direction: row;
}

.layout__item > * {
	flex-grow: 1;
}